@charset 'UTF-8';

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Staatliches&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  --cor-principal: #489bde;
  --cor-secundaria: #ef7cbb;
  --cor-terciaria: #122637;
  --font-titulo: "Staatliches", cursive;
  --font-texto: "Open Sans", sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: var(--font-texto);
}

.conteudo {
  width: 1080px;
  height: 100%;
  margin: auto;
}

/* Header */

header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  font-family: var(--font-texto);
  font-weight: 500;
  color: #fff;
}

#logo {
  width: 100px;
  height: 100px;
  margin: 5px auto;
}

#logo > img {
  width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-titulo);
}

nav {
  width: 50vw;
  height: 50px;
  background-color: var(--cor-principal);
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  opacity: 0.7;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#nav-bar ul {
  margin: auto;
  width: 100%;
}

#nav-bar li {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 50px;
  text-align: center;
  border-radius: 11px;
  cursor: pointer;
}

#nav-bar li:hover {
  color: var(--cor-secundaria);
  background-color: #fff;
  transition: 0.3s;
  animation-direction: normal;
  transition-timing-function: ease-in;
  font-size: 17px;
  width: 115%;
  height: 101%;
}

/* Home */

#home-bg {
  width: 100vw;
  height: 95vh;
  background-image: url(assets/Banner\ Principal.png);
  background-position: center;
  background-size: cover;
}

#home-bg img {
  width: 100%;
  height: 100%;
}

#home-text {
  position: absolute;
  top: 45%;
  width: 30%;
  height: 50%;
}

#home-text h1 {
  font-size: 45px;
  color: var(--cor-terciaria);
}

#home-text p {
  font-size: 20px;
  font-weight: 500;
  color: var(--cor-terciaria);
}

#home-text span {
  color: var(--cor-principal);
}
